.click{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 10px solid var(--color);
	border-radius: 50%;
	position: absolute;
	margin-top: -25px;
	margin-left: -25px;
	animation: click .5s linear infinite;
	z-index: 999999999;
}
@keyframes click{
	0%{
		border: 10px solid var(--color);
		transform: scale(.1);
		opacity: 1;
	}
	100%{
		border: 0px solid var(--color);
		transform: scale(1.5);
		opacity: 0;
	}
}
