/* 边框特效 */
/* .gClick{
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	z-index: 999999999;
	animation: gClick .8s linear infinite;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
}
@keyframes gClick{
	0%{
		transform: scale(0.1);
		border: 20px solid var(--color);
		opacity: 1;
	}
	100%{
		transform: scale(1);
		border: 0px solid var(--color);
		opacity: 0;
	}
} */

/* 背景色特效 */
.gClick{
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	z-index: 999999999;
	animation: gClick .8s linear infinite;
}
@keyframes gClick{
	0%{
		width: 0px;
		height: 0px;
		background-color: var(--color);
		opacity: 1;
	}
	100%{
		width: 100px;
		height: 100px;
		margin-top: -50px;
		margin-left: -50px;
		background-color: var(--color);
		opacity: 0;
	}
}
