*{
	margin: 0;
	padding: 0;
	/* filter: grayscale(100%);
	-webkit-filter: grayscale(100%); */
}
@media (prefers-color-scheme: dark){
	:root{
		background: #141414;
		color: white;
		--active: white;
		--i: #4c4c4c;
		--selection-color: black;
		--selection-background-color: white;
	}
}
@media (prefers-color-scheme: light){
	:root{
		background-color: white;
		color: black;
		--active: black;
		--i: black;
		--selection-color: white;
		--selection-background-color: black;
	}
}
[data-theme=dark]{
	background-color: #141414;
	color: white;
	--active: white;
	--i: #4c4c4c;
	--selection-color: black;
	--selection-background-color: white;
}
[data-theme=light]{
	background-color: white;
	color: black;
	--active: black;
	--i: black;
	--selection-color: white;
	--selection-background-color: black;
}
.active{
	color: var(--active);
}
::selection{
	color: var(--selection-color);
	background-color: var(--selection-background-color);
}
.cevno i::selection{
	color: white;
	background-color: #3742FA;
}
body::-webkit-scrollbar {
	display: none;
}
body{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 240px;
	/*-moz-user-select:none;*/ /*火狐*/
	/*/*-webkit-user-select:none;*/ /*webkit浏览器*/
	/*-ms-user-select:none;*/ /*IE10*/
	/*-khtml-user-select:none;*/ /*早期浏览器*/
	/*user-select:none;*/
	/*-webkit-touch-callout: none;*/
}
main{
	min-height: 100%;
	position: relative;
 	font-weight: 300;
	/* background: url(https://ganto.cn/i/img/blue-gradients.020-wh.jpg);
    	background-position: center;
    	background-size: cover;
    	background-repeat: no-repeat; */
}
a{
	display: inline-block;
	color: #3742FA;
	box-sizing: border-box;
}
a:active{
	color: red;
}
header{
	position: relative;
	bottom: 0;
	padding-top: 30px;
}
header::after{
	content: "";
	display: block;
	width: 100%;
	max-width: 666px;
	border-bottom: 1px solid #c9c9c9;
	margin: 0 auto;
}
.name{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 5px;
}
.name nav{
	width: 100%;
	max-width: 666px;
}
.name nav b{
	font-size: 50px;
	letter-spacing: 5px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.4);
	font-weight: 300;
}
.function{
	width: 100%;
	display: flex;
	justify-content: center;
}
.function nav{
	width: 100%;
	max-width: 666px;
}
.function a{
	text-transform: capitalize;
    	margin: 10px;
}
.demo{
	width: 100%;
	display: flex;
	justify-content: center;
}
.demo nav{
	width: 100%;
	max-width: 666px;
	display: flex;
	justify-content: center;
}
.demo span{
	display: block;
	width: 72px;
	height: 72px;
	background-image: url(../img/lt.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	-webkit-animation: 1.5s steps(13) infinite w_logo;
	animation: 1.5s steps(13) infinite w_logo;
}
@-webkit-keyframes w_logo {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: -936px;
	}
}

@keyframes w_logo {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: -936px;
	}
}
@media (max-width: 800px) {
	header{
		text-align: center;
	}
	section{
		margin-left: 10px;
	}
}
section{
	display: flex;
	justify-content: center;
	position: relative;
	margin: 0 40px;
	margin-top: 30px;
}
.cevno{
	width: 100%;
	max-width: 666px;
}
.cevno p{
	width: 100%;
	word-break:break-word;
	position: relative;
	line-height: 1.5rem;
	margin: 8px 0;
}
/* .cevno p::before{
	content: "#";
	position: absolute;
	left: -15px;
} */
.cevno>i{
	display: inline-block;
	font-style: normal;
	font-size: 20px;
    	margin: 20px 0 5px 0;
	padding: 2px 4px;
	background-color: var(--i);
	color: white;
	border-radius: 4px;
}
.cevno .videos iframe{
	display: block;
	width: 100%;
	height: 400px;
}
.cevno .imgs img {
	display: block;
 	width: 100%;
}
.cevno .videos,.cevno .imgs{
    	margin: 12px 0;
}
.cevno .videos iframe,.cevno .videos video,.cevno .imgs img{
	border-radius: 10px;
}
.cevno .musics {
    display: flex;
    justify-content: center;
}
@media (max-width: 666px) {
	.cevno .videos iframe{
		width: 100%;
		height: 300px;
	}
}
@media (max-width: 520px) {
	.cevno .videos iframe{
		width: 100%;
		height: 200px;
	}
}
@media (max-width: 400px) {
	.cevno .videos iframe{
		width: 100%;
		height: 150px;
	}
	.musics iframe {
    		width: 100%;
	}
}
@media (max-width: 240px) {
	.cevno .videos iframe{
		width: 100%;
		height: 100px;
	}
}
footer {
	padding: 35px;
	text-align: center;
}
footer div{
	margin: 2px;
}
footer .tim{
	font-size: 12px;
}
/*评论系统全部字体font-weight: 500;*/
.comment{
	font-weight: 500;
}
/*评论系统输入框背景图设置*/
#veditor {
	background-image: url(https://cdn.jsdelivr.net/gh/DIYsay/Blog_CDN_2/imgs/diysay-valine.webp);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}
#veditor:focus{
	background-position-y: 200px;
	transition: all 0.2s ease-in-out 0s;
}
/*评论系统昵称样式*/
span.vnick,a.vnick {
	border-radius: 13px;
	border: 2px solid #e0e0e0;
	padding: 0px 5px;
}
.vwrap {
	margin-top: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.cevno>.article {
	background: #ddd;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.cevno>.article:hover{
	background: #eee;
}
