*{
	margin: 0;
	padding: 0;
	outline: none;
}
/* 自定义滚动条 */
::-webkit-scrollbar{
	width: 8px;
    	background: #eee;
}
::-webkit-scrollbar{
	height: 8px;
}
::-webkit-scrollbar-thumb{
	background: #0fbcf9;
    	border-radius: 4px;
}
/* 选中 */
::selection{
	background: #3742fa;
	color: white;
}
a{
	text-decoration: none;
	color: white;
	position: relative;
	margin: 0 10px;
}
body{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 200px;
	overflow-x: hidden;
}
body::-webkit-scrollbar{
	display: none;
}
.he{
	width: 100%;
	height: 100%;
	position: relative;
}
.ganto_cn{
	width: 100%;
	min-height: 100%;
	position: relative;
}
header{
	width: 100%;
	background-color: #3742fa;
	color: white;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	padding: 40px 0;
	position: relative;
	z-index: 6;
}
header b{
	display: inline-block;
	font-size: 35px;
	margin-bottom: 14px;
}
a::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, .8, .13, 1);
    background-color: rgba(200, 2, 115,1.0);
    border-radius: 10px;
}
a:hover::after{
	top: 15%;
	border-radius: 20px;
}
section{
	padding: 0 10px;
	padding-top: 20px;
	padding-bottom: 100px;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
}
section p{
	text-indent: 2em;
    	margin-bottom: 20px;
}
section a{
	color: black;
	font-weight: 900;
}
footer{
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	background-color: #3742fa;
	position: relative;
	z-index: 0;
	position: absolute;
	bottom: 0;
}
footer span{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 40px;
	top: -20px;
	background-color: #3742fa;
	border-radius: 50%;
	line-height: 40px;
	color: white;
	cursor: pointer;
	border: 1px solid white;
	transition: all 1s ease;
	font-size: 15px;
}
@media (max-width: 500px) {
	footer span{
		right: 50%;
		margin-right: -20px;
	}
}
.con{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;
	display: none;
	backdrop-filter: saturate(150%) blur(4px);
	-webkit-backdrop-filter: saturate(150%) blur(4px);
}
.cons{
	width: 70%;
	height: 100%;
	background-color: #3742fa;
	position: fixed;
	left: 100%;
	top: 0;
	transition: all 0.5s ease;
	z-index: 999;
/* 	min-width: 100px; */
/* 	box-shadow: -4px 0px 4px rgba(0,0,0,0.3); */
/* 	border-radius: 8px 0 0 8px; */
}
.cons .span_{
	width: 40px;
	height: 40px;
	position: absolute;
	left: -20px;
	top: 50%;
	margin-top: -20px;
	background-color: #3742fa;
	border-radius: 50%;
	line-height: 40px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
}
.cons .right_{
	display: none;
	box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
}
.cons .right_ i{
	animation: right_ 1s infinite ease;
}
.cons .left_{
	display: block;
}
.cons .left_ i{
	animation: left_ 1s infinite ease;
}
@keyframes right_{
	0%{
		transform: translateX(5px);
	}
	50%{
		transform: translateX(-5px);
	}
	100%{
		transform: translateX(5px);
	}
}
@keyframes left_{
	0%{
		transform: translateX(5px);
	}
	50%{
		transform: translateX(-5px);
	}
	100%{
		transform: translateX(5px);
	}
}
.ul_{
/* 	width: 100%; */
	height: 100%;
	overflow: auto;
    	margin: 0px 25px;
}
.ul_::-webkit-scrollbar{
	display: none;
}
.ul_ a{
	display: inline-block;
}
.ul_ p{
	margin: 8px 0px;
/* 	padding: 10px; */
	cursor: pointer;
	background-color: #1e90ff;
	position: relative;
	z-index: 0;
	border-radius: 4px;
}
.ul_ p img{
	display: inherit;
	width: 100%;
	height: auto;
	border-radius: 4px;
}
.ul_ p i{
	display: block;
	font-style: normal;
	padding: 20px;
}
.ul_ p audio{
    	width: 100%;
}
