.notice{
	width: 100%;
	max-width: 400px;
	background-color: var(--bg);
	color: var(--color);
	border-radius: 5px;
	display: none;
	padding: 10px;
	position: fixed;
	bottom: 0;
	z-index: 9999999;
	box-shadow: var(--box-shadow);
	border: 1px solid var(--color);
	font-weight: 300;
}
.notice .txt{
	width: 100%;
}
.txt .title{
	padding: 10px 0;
	font-size: 25px;
	text-align: center;
}
.txt .content{
	max-height: 100px;
	overflow: auto;
	text-indent: 2em;
	margin-bottom: 10px;
}
.txt .content::-webkit-scrollbar{
	display: none;
}
.notice .bth{
	width: 100%;
	display: flex;
	padding-top: 5px;
	justify-content: flex-end;
}
.off{
	display: inline-block;
	width: 100px;
	height: 40px;
	font-weight: 900;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	background-color: #1e90ff;
	color: white;
	box-shadow: 0px 3px 0px #3742fa;
	cursor: pointer;
}
.off:hover{
	background-color: #ff6b91;
	box-shadow: 0px 3px 0px #ff4757;
}
.off:active{
	background-color: red;
	box-shadow: 0px 3px 0px darkred;
}
