.top{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: var(--bg);
    color: var(--color);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color);
    display: none;
  }
  .top svg{
    width: 50%;
    height: 50%;
  }
