*{
	margin: 0;
	padding: 0;
}
::selection{
	color: white;
	background-color: #3742FA;
}
body{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
}
.bimg{
	width: 100%;
	height: 100%;
	position: fixed;
/* 	background: url(https://ganto.cn/a/img/yasuo_yongen.jpg); */
	background: url(https://ganto.cn/a/img/198.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .3s;
	backface-visibility: hidden;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bimg .tc{
	width: 300px;
	height: 44px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	border: 1px solid #aaa;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	opacity: 0;
	transition: all 1s;
	position: relative;
	z-index: 99999;
	border-radius: 22px;
}
.tc span{
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0px 20px;
	overflow: auto;
}
.tc i{
	display: block;
	width: 44px;
	height: 44px;
	background: url(../img/c.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 40%;
	border-left: 1px solid #aaa;
	cursor: pointer;
}
.ganto{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	transition: all .5s;
}
section{
	width: 100%;
	height: 100%;
	position: relative;
}
.sec_con{
	width: 100%;
	position: absolute;
	top: 15%;
}
.logo{
	display: flex;
	justify-content: center;
}
.logo a{
	position: relative;
	z-index: 99;
}
.logo img{
	display: block;
	width: auto;
	height: 100px;
}
.inp{
	display: flex;
	justify-content: center;
	margin-top: 40px;
	position: relative;
	left: 0;
	border-radius: 22px;
	z-index: 99;
}
.inp .con{
	width: 90%;
	max-width: 560px;
}
.con .con_{
	width: 100%;
	max-width: 560px;
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 22px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	position: relative;
	backdrop-filter: saturate(180%) blur(10px);
	-webkit-backdrop-filter: saturate(180%) blur(10px);
	background: rgba(255,255,255,0.3);
}
.con_ input{
	width: 100%;
	height: 44px;
	border: 0;
	outline: none;
	font-size: 16px;
	padding: 0 50px;
	border-radius: 22px;
	background: rgba(0,0,0,0);
	color: white;
}
.con_ span{
	display: inline-block;
	width: 50px;
	height: 44px;
	cursor: pointer;
	text-align: center;
	line-height: 44px;
	position: absolute;
	border-radius: 22px;
}
#left_{
	left: 0;
	background: url(../img/baidu.png) no-repeat center;
	background-size: 40%;
}
.li{
	width: 50px;
	height: 110px;
	position: absolute;
	top: 44px;
	border-radius: 0 0 25px 25px;
	box-sizing: border-box;
	display: none;
	box-shadow: 0 4px 6px 0 rgba(32, 33, 36, .28);
	overflow: auto;
	backdrop-filter: saturate(180%) blur(10px);
	-webkit-backdrop-filter: saturate(180%) blur(10px);
	background: rgba(255,255,255,0.3);
}
.li::-webkit-scrollbar{
	display: none;
}
.li i{
	display: block;
	width: 100%;
	height: 44px;
	box-sizing: border-box;
	cursor: pointer;
}
.li i:nth-child(1){
	background: url(../img/baidu.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40%;
}
.li i:nth-child(2){
	background: url(../img/google.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40%;
}
.li i:nth-child(3){
	background: url(https://www.so.com/favicon.ico);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40%;
}
.li i:nth-child(4){
/* 	background: url(https://cn.bing.com/favicon.ico); */
	background: url(https://cn.bing.com/sa/simg/favicon-etonb.ico);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40%;
}
.li i:nth-child(5){
	background: url(https://www.sogou.com/favicon.ico);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40%;
}
#right_{
	right: 0;
	background: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40%;
}
.box{
	width: 100%;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
}
.box .box_con{
	width: 560px;
	border-radius: 22px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	margin-top: 5px;
	overflow: hidden;
	backdrop-filter: saturate(180%) blur(10px);
	-webkit-backdrop-filter: saturate(180%) blur(10px);
	background: rgba(255,255,255,0.3);
	color: white;
}
.box_con span{
	display: block;
	height: 30px;
	cursor: pointer;
	text-indent: 20px;
	transition: all .5s;
	line-height: 30px;
	font-size: 14px;
	padding-right: 10px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	clear: both;
}
.box_con span:first-child{
	margin-top: 10px;
}
.box_con span:last-child{
	margin-bottom: 10px;
}
.box_con span:hover{
	background-color: rgba(0,0,0,.6);
	color: white;
	text-indent: 30px;
}
@media (max-width: 560px) {
	.box .box_con{
		width: 90%;
	}
}
